<ion-header no-border>
  <ion-toolbar class="transparent" color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="onDismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ 'ACCESS' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form" #myForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'PASSWORD' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'REPASSWORD' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="password" formControlName="repassword"></ion-input>
    </ion-item>


    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'FULLNAME' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="text" formControlName="fullname"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'SECRET_QUESTION' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="text" formControlName="secretquestion"></ion-input>
    </ion-item>

    <ion-label position="stacked" color="medium">
      <span class="bold">{{ 'SECRET_ANSWER' | translate }}</span>
    </ion-label>
    <ion-item margin-vertical lines="none" color="light">
      <ion-input type="text" formControlName="secretanswer"></ion-input>
    </ion-item>
 
  

  </form>
</ion-content>

<ion-footer>
    <ion-toolbar>
      <div text-center>
        <ion-button shape="round" color="secondary"
          [disabled]="isLoadingViewVisible"
          (click)="myForm.ngSubmit.emit()">
          <ion-spinner *ngIf="isLoadingViewVisible"></ion-spinner>
          <span *ngIf="!isLoadingViewVisible">{{ 'SUBMIT' | translate }}</span>
        </ion-button>
      </div>
    </ion-toolbar>
  </ion-footer>